In [1]:
print("NLP basics")

NLP basics

nlp basics

## heading type

bulletin
- bulletin1
- bulletin2
    - subbullet1
        - subbulet3

In [3]:
a=5
b="python str"
c=100.0
print(a,b,c)

5 python str 100.0

In [7]:
print(b[0:3],b[-1])

pyt r

In [10]:
print("j"+b[1:])

jython str

In [12]:
print(len(b)) # to print the length of the given string

10

In [15]:
print(b.upper())

PYTHON STR

In [18]:
strrep=b.replace("p","j")
print(strrep)

jython str

In [ ]:
input_str=input("please enter your string: ")

In [46]:
def answer(input_str):
    if "+" in input_str:
        nums = input_str.split("+")
        answer = float(nums[0]) + float(nums[1])
    elif "-" in input_str:
        nums = input_str.split("-")
        answer = float(nums[0]) - float(nums[1])
    elif "*" in input_str:
        nums = input_str.split("*")
        answer = float(nums[0]) * float(nums[1])
    elif "/" in input_str:
        nums = input_str.split("/")
        answer = float(nums[0]) / float(nums[1])
    else:
        answer = None
    return answer

#     def answer(input_str):
#     operators = {
#         '+': lambda x, y: x + y,
#         '-': lambda x, y: x - y,
#         '*': lambda x, y: x * y,
#         '/': lambda x, y: x / y
#     }
#     a, op, b = input_str.split()
#     return operators[op](float(a), float(b))

In [47]:
answer(input_str)

12312313544.0

In [48]:
array_ex=["we","are","same"]#python lists
for m in array_ex:
    print(m)

we
are
same

In [56]:
### python formatted strings

formatted_str='hybrid'
print(f'the car is {formatted_str}')# string litarals OF F-STRING
print('the car is {var}'.format(var=formatted_str))#.format method
print(f'the car is {formatted_str !r}')#inside a single quotes

the car is hybrid
the car is hybrid
the car is 'hybrid'

## width 

- width {list[m]:{10}}<=====10 width
- alignment(can ' ' instead of'.') 
    - left:.<
    - right:.>
    - center :.^

In [57]:
movies=[('Name','Catogory','Country'),('Twilight','Romance','us'),('HP','Fantacy','uk'),('FF','Adventure','us')]

In [70]:
#iterating indexes
for mv in movies:
    print(f'{mv[0]:.^{10}} {mv[1]:.>{40}} {mv[2]:.<{10}}')#set minimum width after ":{width}" mark

Name       ................................Catogory Country...
Twilight   .................................Romance us........
HP         .................................Fantacy uk........
FF         ...............................Adventure us........

## date and time (using string litarals)

In [75]:
!pip install datetime

Requirement already satisfied: datetime in c:\users\admin\anaconda3\lib\site-packages (5.1)
Requirement already satisfied: zope.interface in c:\users\admin\anaconda3\lib\site-packages (from datetime) (5.4.0)
Requirement already satisfied: pytz in c:\users\admin\anaconda3\lib\site-packages (from datetime) (2022.1)
Requirement already satisfied: setuptools in c:\users\admin\anaconda3\lib\site-packages (from zope.interface->datetime) (63.4.1)

In [86]:
from datetime import datetime
year=2023
month=4
day=12
day = datetime(year=2023, month=4, day=12)
# day = datetime(year, month, day)

In [81]:
print(f'{day: %B %d %y}')

 April 12 23